In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("dirty_iris.csv")

In [6]:
df.shape

(150, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  140 non-null    float64
 1   Sepal.Width   133 non-null    float64
 2   Petal.Length  131 non-null    float64
 3   Petal.Width   138 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0           6.4          3.2           4.5          1.5  versicolor
1           6.3          3.3           6.0          2.5   virginica
2           6.2          NaN           5.4          2.3   virginica
3           5.0          3.4           1.6          0.4      setosa
4           5.7          2.6           3.5          1.0  versicolor

In [14]:
#1
df.isna().sum()

Sepal.Length    10
Sepal.Width     17
Petal.Length    19
Petal.Width     12
Species          0
dtype: int64

In [9]:
df1 = df.dropna(thresh = 5)

In [10]:
df1.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0           6.4          3.2           4.5          1.5  versicolor
1           6.3          3.3           6.0          2.5   virginica
3           5.0          3.4           1.6          0.4      setosa
4           5.7          2.6           3.5          1.0  versicolor
7           5.9          3.0           5.1          1.8   virginica

In [11]:
df1.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0           6.4          3.2           4.5          1.5  versicolor
1           6.3          3.3           6.0          2.5   virginica
3           5.0          3.4           1.6          0.4      setosa
4           5.7          2.6           3.5          1.0  versicolor
7           5.9          3.0           5.1          1.8   virginica

In [12]:
num1 = df1.shape
num = df.shape

In [13]:
num1 = list(num1)
num = list(num)
print("Number: ", num1[0])
print("Percentage: ", (num1[0]/num[0])*100)

Number:  96
Percentage:  64.0

In [15]:
#ii)
df.iloc[:,:4] = df.iloc[:,:4].replace(np.inf,0)
df.iloc[:,:4] = df.iloc[:,:4].replace(np.nan,0)

df.iloc[:,:4] = df.iloc[:,:4].replace(np.inf,np.nan)

In [16]:
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             6.4          3.2           4.5          1.5  versicolor
1             6.3          3.3           6.0          2.5   virginica
2             6.2          0.0           5.4          2.3   virginica
3             5.0          3.4           1.6          0.4      setosa
4             5.7          2.6           3.5          1.0  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.1           5.6          2.4   virginica
146           5.6          3.0           4.5          1.5  versicolor
147           5.2          3.5           1.5          0.2      setosa
148           6.4          3.1           0.0          1.8   virginica
149           5.8          2.6           4.0          0.0  versicolor

[150 rows x 5 columns]

In [ ]:
def ruleset(df):
    df['Rule1'] = df['Species'].apply(lambda x:True if x=='setosa' or x == "versicolor" or x == 'versicolor' or x == 'virginica' else False)
    df['Rule2'] = df.iloc[:,:4].apply(lambda x: True if al(y>0 for y in x) else False, axis=1)